# Deploy an artifact onto Dev, Test, or Prod
name: Deploy
on:
  workflow_dispatch:
    inputs:
      source:
        required: true
        description: What is the source image tag to promote?
        type: choice
        options:
          - dev
          - test
      environment:
        required: true
        description: What is the targeted environment?
        type: choice
        options:
          - dev
          - test
          - prod
     
jobs:
  build:
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Git Checkout
        uses: actions/checkout@v3
      
      #Login to OpenShift Container Repository - Silver
      - name: Login to OpenShift Container Repository - Silver
        uses: docker/login-action@v2
        with:
          registry: ${{secrets.OPENSHIFT_EXTERNAL_REPOSITORY_SILVER}}
          username: ${{secrets.OPENSHIFT_SA_PIPELINE_USERNAME_SILVER}}
          password: ${{secrets.OPENSHIFT_SA_PIPELINE_TOKEN_SILVER}}
  
      - name: Backup Prod
        run: |
          if [[ "${{ github.event.inputs.environment }}" == "prod" ]]; then
            docker pull ${{secrets.OPENSHIFT_EXTERNAL_REPOSITORY_SILVER}}/${{secrets.OPENSHIFT_LICENSE_PLATE_SILVER}}-tools/justin-courtlist-api:prod
            docker tag ${{secrets.OPENSHIFT_EXTERNAL_REPOSITORY_SILVER}}/${{secrets.OPENSHIFT_LICENSE_PLATE_SILVER}}-tools/justin-courtlist-api:prod ${{secrets.OPENSHIFT_EXTERNAL_REPOSITORY_SILVER}}/${{secrets.OPENSHIFT_LICENSE_PLATE_SILVER}}-tools/justin-courtlist-api:prod-backup
            docker push tag ${{secrets.OPENSHIFT_EXTERNAL_REPOSITORY_SILVER}}/${{secrets.OPENSHIFT_LICENSE_PLATE_SILVER}}-tools/justin-courtlist-api:prod-backup
          else
            echo "Application targeted environment: ${{ github.event.inputs.environment }}"
          fi
          
      #Push image justin-courtlist-api to OpenShift Image stream - Silver
      - name: Push Image justin-courtlist-api to Openshift Image Stream - Silver
        env:
          IMAGE: ${{secrets.OPENSHIFT_EXTERNAL_REPOSITORY_SILVER}}/${{secrets.OPENSHIFT_LICENSE_PLATE_SILVER}}-tools/${{ env.APP_NAME }}:${{ env.ENV_NAME }}
        run: |
          docker pull ${{secrets.OPENSHIFT_EXTERNAL_REPOSITORY_SILVER}}/${{secrets.OPENSHIFT_LICENSE_PLATE_SILVER}}-tools/justin-courtlist-api:${{ github.event.inputs.source }}
          docker tag ${{secrets.OPENSHIFT_EXTERNAL_REPOSITORY_SILVER}}/${{secrets.OPENSHIFT_LICENSE_PLATE_SILVER}}-tools/justin-courtlist-api:${{ github.event.inputs.source }} ${{secrets.OPENSHIFT_EXTERNAL_REPOSITORY_SILVER}}/${{secrets.OPENSHIFT_LICENSE_PLATE_SILVER}}-tools/justin-courtlist-api:${{ github.event.inputs.environment }}
          docker push ${{secrets.OPENSHIFT_EXTERNAL_REPOSITORY_SILVER}}/${{secrets.OPENSHIFT_LICENSE_PLATE_SILVER}}-tools/justin-courtlist-api:${{ github.event.inputs.environment }}


